@import "tailwindcss";

:root {
  --clr-bg: #050d0a;
  --clr-neon: #00ff87;
  --clr-neon-mid: #00c96b;
  --clr-neon-dim: rgba(0, 255, 135, 0.15);
  --clr-text: rgba(255, 255, 255, 0.85);
  --clr-text-muted: rgba(255, 255, 255, 0.45);
  --clr-neon-ghost: rgba(0, 255, 135, 0.07);
}

body {
    background-color: var(--clr-bg);
    font-family: var(--font-sans);
    color: var(--clr-text);
    background-image:
    linear-gradient(rgba(0, 255, 135, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 135, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
}

@keyframes glitch {
  0%   { clip-path: inset(20% 0 50% 0); }
  5%   { clip-path: inset(10% 0 60% 0); }
  10%  { clip-path: inset(15% 0 55% 0); }
  15%  { clip-path: inset(25% 0 35% 0); }
  20%  { clip-path: inset(30% 0 40% 0); }
  25%  { clip-path: inset(40% 0 20% 0); }
  30%  { clip-path: inset(10% 0 60% 0); }
  35%  { clip-path: inset(15% 0 55% 0); }
  40%  { clip-path: inset(25% 0 35% 0); }
  45%  { clip-path: inset(30% 0 40% 0); }
  50%  { clip-path: inset(20% 0 50% 0); }
  55%  { clip-path: inset(10% 0 60% 0); }
  60%  { clip-path: inset(15% 0 55% 0); }
  65%  { clip-path: inset(25% 0 35% 0); }
  70%  { clip-path: inset(30% 0 40% 0); }
  75%  { clip-path: inset(40% 0 20% 0); }
  80%  { clip-path: inset(20% 0 50% 0); }
  85%  { clip-path: inset(10% 0 60% 0); }
  90%  { clip-path: inset(15% 0 55% 0); }
  95%  { clip-path: inset(25% 0 35% 0); }
  100% { clip-path: inset(30% 0 40% 0); }
}

@utility animate-glitch-after {
  animation: glitch var(--after-duration) infinite linear alternate-reverse;
}

@utility animate-glitch-before {
  animation: glitch var(--before-duration) infinite linear alternate-reverse;
}

@keyframes termLineIn {
  from { opacity: 0; transform: translateX(-6px); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50%       { opacity: 0; }
}
